.container {
  max-width: 750px;
}

.page-content {
  padding: 30px;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px;
  
  ul, p {
    color: #828282;
  }
}

.contact-list, .social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
